<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.jianbing.about.me.web.api.dao.UserDao">
    <select id="login" resultType="pro.jianbing.about.me.domain.User">
        SELECT
          u.id,
          u.name,
          u.portrait,
          u.password,
          u.phone,
          u.email,
          u.created,
          u.updated
        FROM
          user AS u
        WHERE u.name=#{name}
          OR u.phone=#{name}
          OR u.email=#{name}
    </select>

</mapper>